@import '../../assets/scss/utils/mixins';
@import '../../assets/scss/components/popover/variables';

@include b(tooltip) {
  z-index: $st-tooltip-z-index;

  @include e(inner) {
    padding: $st-tooltip-arrow-size (2 * $st-tooltip-arrow-size) ($st-tooltip-arrow-size - 1);
    color: $st-tooltip-inner-color;
    background: $st-tooltip-inner-bgColor;
    border-radius: $st-tooltip-inner-radius;
  }

  @include e(arrow) {
    border-color: $st-tooltip-inner-bgColor;
  }
}

@include b(popover) {
  z-index: $st-popover-z-index;

  @include e(inner) {
    padding: $st-popover-inner-padding;
    color: $st-popover-inner-color;
    background: $st-popover-inner-bgColor;
    border-radius: $st-popover-inner-radius;
    box-shadow: $st-popover-inner-shadow;
  }

  @include e(arrow) {
    border-color: $st-popover-inner-bgColor;
  }
}

.st-tooltip,
.st-popover {
  $root: &;

  &__arrow {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    margin: $st-tooltip-arrow-size;
    border-style: solid;
  }

  &[x-placement^="top"] {
    margin-bottom: $st-tooltip-arrow-size;

    .st-tooltip__arrow,
    .st-popover__arrow {
      bottom: -($st-tooltip-arrow-size);
      left: calc(50% - #{$st-tooltip-arrow-size});
      margin-top: 0;
      margin-bottom: 0;
      border-width: $st-tooltip-arrow-size $st-tooltip-arrow-size 0 $st-tooltip-arrow-size;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: $st-tooltip-arrow-size;

    .st-tooltip__arrow,
    .st-popover__arrow {
      top: -($st-tooltip-arrow-size);
      left: calc(50% - #{$st-tooltip-arrow-size});
      margin-top: 0;
      margin-bottom: 0;
      border-width: 0 $st-tooltip-arrow-size $st-tooltip-arrow-size $st-tooltip-arrow-size;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &[x-placement^="right"] {
    margin-left: $st-tooltip-arrow-size;

    .st-tooltip__arrow,
    .st-popover__arrow {
      top: calc(50% - #{$st-tooltip-arrow-size});
      left: -($st-tooltip-arrow-size) + 1px;
      margin-right: 0;
      margin-left: 0;
      border-width: $st-tooltip-arrow-size $st-tooltip-arrow-size $st-tooltip-arrow-size 0;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &[x-placement^="left"] {
    margin-right: $st-tooltip-arrow-size;

    .st-tooltip__arrow,
    .st-popover__arrow {
      top: calc(50% - #{$st-tooltip-arrow-size});
      right: -($st-tooltip-arrow-size) + 1px;
      margin-right: 0;
      margin-left: 0;
      border-width: $st-tooltip-arrow-size 0 $st-tooltip-arrow-size $st-tooltip-arrow-size;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: $st-tooltip-transition-hidden;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: $st-tooltip-transition-visible;
  }
}
