<st-dropdown popper-class="st-select-dropdown"
             ref="dropdown"
             :disabled="disabled"
             v-bind="extendedDropdownProps"
             @show="$emit('dropdown-show')"
             @hide="$emit('dropdown-hide')">
  <template slot="reference">
    <slot name="reference" />
  </template>
  <template slot="top">
    <slot name="dropdown-top" />
  </template>
  <st-dropdown-option v-for="(option, index) in options"
                      :key="option.value || index"
                      :class="[
                        'st-select-dropdown__option',
                        optionClass,
                        {
                          'st-select-dropdown__option--selected': selectedValues && selectedValues.includes(option.value),
                          [`${optionClass}--selected`]: optionClass && selectedValues && selectedValues.includes(option.value),
                        }
                      ]"
                      :disabled="option.disabled"
                      :readonly="readonly"
                      @click="select(option)">
    <slot name="option"
          :option="option">
      {{ option.label }}
    </slot>
  </st-dropdown-option>
  <template slot="bottom">
    <slot name="dropdown-bottom" />
  </template>
</st-dropdown>
