<st-dropdown ref="dropdown"
             :disabled="disabled"
             v-bind="extendedDropdownProps"
             @show="$emit('dropdown-show')"
             @hide="$emit('dropdown-hide')">
  <template slot="reference">
    <slot name="reference" />
  </template>
  <template slot="top">
    <slot name="dropdown-top" />
  </template>
  <slot>
    <st-dropdown-option v-for="(option, index) in options"
                        :key="option.value || index"
                        :class="[
                          'st-select-dropdown__option',
                          optionClass,
                          {
                            'st-select-dropdown__option--selected': option.selected,
                            [`${optionClass}--selected`]: optionClass && option.selected,
                          }
                        ]"
                        :disabled="option.disabled"
                        :readonly="readonly || option.readonly"
                        @click="select(option)">
      <slot name="option"
            :option="option">
        {{ option.label }}
      </slot>
    </st-dropdown-option>
  </slot>
  <template slot="bottom">
    <slot name="dropdown-bottom" />
  </template>
</st-dropdown>
