@import '../../../assets/scss/utils/mixins';
@import '../../../assets/scss/components/datepicker/_variables';

@include b('datepicker-top-navigation') {
  #{ e('left') },
  #{ e('right') } {
    position: absolute;
    top: 0;
    cursor: pointer;

    #{ b('icon') } {
      width: 10px;
      height: 14px;
      color: #ccc;
    }
  }

  @include e('left') {
    left: 6px;
  }

  @include e('right') {
    right: 6px;
  }
}
