<div class="st-autocomplete"
     :class="{'st-autocomplete--with-error': !isValid }">
  <st-dropdown class="st-autocomplete__dropdown-wrapper"
               ref="dropdown"
               :disabled="disabled"
               :value="popperVisibility"
               v-bind="extendedDropdownProps"
               @document-click="onDocClick">
    <st-input slot="reference"
              class="st-autocomplete__input"
              v-model="inputValue"
              ref="input"
              :loading="loading"
              :readonly="readonly"
              :disabled="disabled"
              :clearable="clearable && !disabled && !readonly"
              :placeholder="placeholder"
              :prefix-icon="prefixIcon"
              :suffix-icon="suffixIcon"
              :focus-after-clear="focusAfterClear"
              :size="size"
              @input="handleInput"
              @focus="handleFocus"
              @blur="handleBlur"
              @clear="handleClear" />
    <template v-slot:top>
      <slot name="dropdown-top" />
      <div v-if="$slots['message-query-length'] && !checkQueryConditions(inputValue)"
           class="st-autocomplete__message st-autocomplete__message--length">
        <slot name="message-query-length" />
      </div>
      <div v-else-if="searchLoading"
           class="st-autocomplete__message st-autocomplete__message--loading">
        <slot name="message-loading">
          <st-icon name="loader" />
        </slot>
      </div>
      <div v-else-if="!suggestions.length"
           class="st-autocomplete__message st-autocomplete__message--empty">
        <slot name="message-empty">
          No results
        </slot>
      </div>
    </template>

    <slot name="suggestion-top" />

    <st-dropdown-option class="st-autocomplete__suggestion"
                        v-for="(suggestion, index) in suggestions"
                        :key="index"
                        @click="selectSuggestion(suggestion)">
      <slot name="suggestion"
            :suggestion="suggestion">
        {{ suggestion }}
      </slot>
    </st-dropdown-option>

    <slot name="suggestion-bottom" />

    <template #bottom>
      <slot name="dropdown-bottom" />
    </template>
  </st-dropdown>
</div>
