@import '../../../assets/scss/components/select/_variables';

.st-select-multiple {
  &--with-error .st-select-content {
    border-color: $st-color-danger;
  }

  &__collapser {
    z-index: $st-select-above-input-elements-z-index;
    width: 100%;
  }

  &__collapser-item {
    margin-left: $st-select-multiple-collapser-item-margin;

    &:first-of-type {
      margin-right: 0;
    }
  }

  &__collapser-dropdown {
    font-size: $st-select-multiple-collapser-dropdown-font-size;
    text-align: $st-select-multiple-collapser-dropdown-text-align;
    background: $st-select-multiple-collapser-dropdown-background;
    box-shadow: $st-select-multiple-collapser-dropdown-box-shadow;

    &.st-popper {
      padding: $st-select-multiple-collapser-dropdown-padding;
    }

    &[x-placement^="bottom"] {
      margin-top: 19px;

      .st-popper__arrow {
        border-bottom-color: $st-select-multiple-collapser-dropdown-background;
      }
    }

    &[x-placement^="top"] {
      margin-bottom: 19px;

      .st-popper__arrow {
        border-top-color: $st-select-multiple-collapser-dropdown-background;
      }
    }
  }

  &--disabled {
    .st-select-multiple__collapser-item {
      color: $st-select-multiple-disabled-collapser-item-color;
    }
  }

  &--readonly {
    .st-select-multiple__collapser-item {
      color: $st-select-multiple-readonly-collapser-item-color;
    }
  }

  &__dropdown-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdown-option-checkbox {
    &--readonly {
      cursor: $st-select-dropdown-readonly-option-cursor;
    }

    &--disabled {
      cursor: $st-select-dropdown-disabled-option-cursor;
    }
  }
}
