@import '../../utils/variables';

$st-tooltip-text-color: $st-color-white !default;
$st-tooltip-background-color: $st-color-taupe-gray !default;
$st-tooltip-padding: 10px !default;
$st-tooltip-font-size: 12px !default;
