@import '../../assets/scss/utils/mixins';
@import '../../assets/scss/components/input/variables';

.st-input {
  $root: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $st-input-height;
  font-size: $st-font-size;

  @include webkit-scrollbar;

  &__clear {
    width: ($st-input-icon-size - 2) + px;
    height: ($st-input-icon-size - 2) + px;
    color: $st-color-pastel-gray;
    cursor: pointer;
    transition: $st-fill-transition;

    &:hover {
      color: $st-input-icon-focus-color;
    }
  }

  &__loader {
    width: $st-input-icon-width;
    height: $st-input-icon-height;
    color: $st-input-icon-color;
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    font-size: inherit;
    line-height: 1;
    color: $st-input-color;
    background-color: $st-input-fill;
    background-image: none;
    -webkit-appearance: none;
    border: $st-input-border;
    border-radius: $st-input-border-radius;
    outline: none;
    transition: $st-border-transition;

    /** disalbe default clear on IE */
    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    &::placeholder {
      color: $st-input-placeholder-color;
    }

    &:hover {
      border-color: $st-input-hover-border;
    }

    &:focus {
      border-color: $st-input-focus-border;
      outline: none;
    }
  }

  &__suffix,
  &__prefix {
    display: flex;
    align-items: center;
  }

  &__suffix {
    z-index: 2;
    height: $st-input-icon-height;
    margin-right: 10px;
    color: $st-input-icon-color;
    text-align: center;
    transition: all 0.3s;
  }

  &__suffix-icon {
    width: $st-input-icon-width;
    height: $st-input-icon-height;
    color: $st-input-icon-color;
  }

  &__prefix {
    z-index: 2;
    height: $st-input-icon-height;
    margin-left: 10px;
    color: $st-input-icon-color;
    text-align: center;
    transition: all 0.3s;
  }

  &__prefix-icon {
    width: $st-input-icon-width;
    height: $st-input-icon-height;
    color: $st-input-icon-color;
  }

  &__icon {
    text-align: center;
    transition: all 0.3s;
  }

  &__icon + &__icon {
    margin-left: 5px;
  }

  &--active {
    #{$root}__inner {
      border-color: $st-input-focus-border;
      outline: none;
    }
  }

  &--disabled {
    #{$root}__inner {
      color: $st-input-disabled-color;
      cursor: not-allowed;
      background-color: $st-input-disabled-fill;
      border-color: $st-input-disabled-border;

      &::placeholder {
        color: $st-input-disabled-placeholder-color;
      }
    }

    #{$root}__icon {
      cursor: not-allowed;
    }
  }

  &:not(&--focused):not(&--disabled):hover {
    #{$root}__prefix,
    #{$root}__suffix {
      color: $st-input-icon-hover-color;
    }

    #{$root}__icon {
      color: $st-input-icon-hover-color;

      &#{$root}__clear:hover {
        color: $st-input-icon-focus-color;
      }
    }
  }

  &--hovered {
    #{$root}__prefix,
    #{$root}__suffix {
      color: $st-input-icon-hover-color;

      #{$root}__icon {
        color: $st-input-icon-hover-color;
      }
    }
  }

  &--focused {
    #{$root}__prefix,
    #{$root}__suffix {
      color: $st-input-icon-focus-color;
    }

    #{$root}__prefix-icon,
    #{$root}__suffix-icon,
    #{$root}__loader {
      color: $st-input-icon-focus-color;
    }

    #{$root}__clear {
      color: $st-input-icon-hover-color;

      &:hover {
        color: $st-input-icon-focus-color;
      }
    }
  }

  &--with-suffix {
    #{$root}__inner {
      padding-right: 30px;
    }

    &#{$root}--state-visible {
      #{$root}__inner {
        padding-right: 40px;
      }
    }
  }

  &--with-prefix {
    #{$root}__inner {
      padding-left: 30px;
    }
  }

  &--state-visible:not(&--with-prefix),
  &--with-suffix:not(&--with-prefix) {
    justify-content: flex-end;
  }

  &--extra-large {
    font-size: $st-input-extra-large-font-size;
    line-height: 48px;

    #{$root}__inner {
      height: 48px;
      line-height: 48px;
    }

    #{$root}__prefix,
    #{$root}__suffix {
      line-height: 48px;
    }

    #{$root}__icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
  }

  &--large {
    font-size: $st-input-large-font-size;
    line-height: 40px;

    #{$root}__inner {
      height: 40px;
      line-height: 40px;
    }

    #{$root}__prefix,
    #{$root}__suffix {
      line-height: 40px;
    }

    #{$root}__icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
  }

  &--medium {
    font-size: $st-input-medium-font-size;

    #{$root}__inner {
      height: $st-input-medium-height;
      line-height: 40px;
    }

    #{$root}__prefix,
    #{$root}__suffix {
      line-height: $st-input-medium-height - 2;
    }
  }

  &--small {
    font-size: $st-input-small-font-size;

    #{$root}__inner {
      height: $st-input-small-height;
    }

    #{$root}__prefix,
    #{$root}__suffix {
      line-height: $st-input-small-height - 2;
    }
  }

  &--mini {
    font-size: $st-input-mini-font-size;

    #{$root}__inner {
      height: $st-input-mini-height;
    }

    #{$root}__prefix,
    #{$root}__suffix {
      line-height: $st-input-mini-height - 2;
    }
  }
}
