<div :class="[
      'st-input',
      this.size ? 'st-input--' + this.size : '',
      {
        'st-input--disabled': disabled,
        'st-input--readonly': readonly,
        'st-input--focused': inputFocused,
        'st-input--with-prefix': $slots.prefix || prefixIcon,
        'st-input--with-suffix': $slots.suffix || suffixIcon,
        'st-input--state-visible': showCloseIcon || loading,
      }
     ]">
  <div v-if="prefixIcon || $slots.prefix"
       class="st-input__prefix">
    <slot name="prefix"></slot>
    <st-icon v-if="prefixIcon && !$slots.prefix"
             :name="prefixIcon"
             class="st-input__icon st-input__prefix-icon"></st-icon>
  </div>
  <input class="st-input__inner"
         ref="input"
         :disabled="disabled"
         :placeholder="placeholder"
         :maxlength="maxlength"
         :type="type"
         :pattern="pattern"
         :required="required"
         :readonly="readonly"
         :name="name"
         :value="inputValue"
         @input="handleInput"
         @focus="handleFocus"
         @blur="handleBlur"
         @mouseenter="inputHovered = true"
         @mouseleave="inputHovered = false"
         @keyup="handleKeydown"
         @keydown="handleKeydown"
         @keypress="handleKeypress"
         @change="handleChange">
  <div v-if="$slots.suffix || suffixIcon || showCloseIcon || loading"
       class="st-input__suffix">
    <template v-if="!$slots.suffix">
      <st-icon v-if="loading"
               name="loader"
               class="st-input__icon st-input__loader"></st-icon>
      <st-icon v-else-if="showCloseIcon"
               name="cross"
               class="st-input__icon st-input__clear"
               @click="clearInput"></st-icon>
      <st-icon v-if="suffixIcon && !(showCloseIcon && clearIconAsSuffixIcon)"
               :name="suffixIcon"
               class="st-input__icon st-input__suffix-icon"></st-icon>
    </template>
    <template v-else>
      <st-icon v-if="loading"
               name="loader"
               class="st-input__icon st-input__loader"></st-icon>
      <st-icon v-else-if="showCloseIcon"
               name="cross"
               class="st-input__icon st-input__clear"
               @click="clearInput"></st-icon>
      <slot name="suffix"></slot>
    </template>
  </div>
</div>
