@import '../../assets/scss/utils/mixins';
@import '../../assets/scss/utils/helper-classes';

@include b(row) {
  position: relative;
  box-sizing: border-box;

  @include utils-clearfix;

  @include m(flex) {
    display: flex;

    &::before,
    &::after {
      display: none;
    }

    @include m(justify-center) {
      justify-content: center;
    }

    @include m(justify-end) {
      justify-content: flex-end;
    }

    @include m(justify-space-between) {
      justify-content: space-between;
    }

    @include m(justify-space-around) {
      justify-content: space-around;
    }

    @include m(align-middle) {
      align-items: center;
    }

    @include m(align-bottom) {
      align-items: flex-end;
    }
  }
}
