// Import theme file firstly
@import "../../assets/scss/theme";

// Redefine default component's variables you want to change
$st-icon-width: 22px;
$st-icon-height: 22px;
$st-icon-color: $st-color-orangered;

// Import default component's file with styles
@import "../../../../components/icon/style";

// Add new style things if you want to
@include b('icon') {
  // New properties here
}