@import '../../utils/variables';

$st-pagination-font-size: 13px !default;
$st-pagination-page-size: 28px !default;
$st-pagination-page-margin: 14px !default;
$st-pagination-page-padding: 0 5px !default;
$st-pagination-page-border-radius: $st-pagination-page-size !default;
$st-pagination-page-cursor: pointer !default;
$st-pagination-icon-margin: 9px !default;
$st-pagination-control-margin: 36px !default;
$st-pagination-text-color: $st-color-dark-gunmetal !default;
$st-pagination-current-page-bg-color: $st-color-dark-grey !default;
$st-pagination-current-page-color: $st-color-white !default;
$st-pagination-current-page-cursor: not-allowed !default;
$st-pagination-separator-bg-color: transparent !default;
$st-pagination-separator-cursor: not-allowed !default;
$st-pagination-page-hover-bg-color: $st-color-solitude-white !default;
$st-pagination-label-text-transformation: uppercase !default;

$st-pagination-label-font-size: $st-pagination-font-size !default;
$st-pagination-page-font-size: $st-pagination-font-size !default;

$st-pagination-icon-boundary-margin: $st-pagination-icon-margin !default;
$st-pagination-icon-step-margin: $st-pagination-icon-margin !default;

$st-pagination-control-boundary-margin: $st-pagination-control-margin !default;
$st-pagination-control-step-margin: $st-pagination-control-margin !default;

$st-pagination-page-text-color: $st-pagination-text-color !default;
$st-pagination-control-text-color: $st-pagination-text-color !default;
