@import '../../utils/variables';

$st-table-border-color: $st-color-pastel-gray;
$st-table-border-width: 1px;
$st-table-header-border-width: 2px;
$st-table-footer-border-width: $st-table-header-border-width;

$st-table-sortable-hover-border-color: $st-color-taupe-gray;
$st-table-sortable-current-border-color: $st-table-sortable-hover-border-color;
$st-table-td-padding: 0.5em 0.75em;

$st-table-sortable-icon-size: 8px;
$st-table-sortable-icon-color: currentColor;
