$offers-main-color: #4264fb;
$offers-hover-main-color: #2c4de0;
$offers-active-main-color: #1030bd;
$offers-light-gray-color: #d4d4d4;
$offers-dark-gray-color: #b7b7b7;
$offers-black-color: #333;
$offers-white-color: #fff;
$offers-yellow-color: #ebc715;
$offers-green-color: #00c27a;
$offers-red-color: #fb4242;

@import "../../utils/variables";
