$offers-main-color: #4264fb;
$offers-hover-main-color: #2C4DE0;
$offers-active-main-color: #1030BD;
$offers-light-gray-color: #D4D4D4;
$offers-dark-gray-color: #B7B7B7;
$offers-black-color: #333333;
$offers-white-color: #ffffff;
$offers-yellow-color: #EBC715;
$offers-green-color: #00c27a;
$offers-red-color: #fb4242;

@import "../../utils/variables";
