// Import default component's file with styles
@import '../../../../components/autocomplete/style';

.st-autocomplete {
  .st-input {
    &__suffix-icon {
      width: 12px;
      height: 12px;
    }

    &__clear {
      margin: 0 4px;
    }

    &__inner {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.st-autocomplete-dropdown {
  &.st-dropdown__popper {
    border: none;
    border-radius: 2;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  }

  .st-dropdown-option {
    min-height: 48px;
    padding: 12px 18px;
    line-height: 1;
    text-overflow: ellipsis;
    word-break: break-word;
    border-bottom: none;
  }
}
