.st-checkbox {
  &__inner {
    border-radius: 1px;
    transition: none;
  }

  &--checked {
    .st-checkbox__inner {
      background-color: $st-color-royal-blue;
      border-color: $st-color-royal-blue;
    }

    &:hover {
      .st-checkbox__inner {
        background-color: $st-color-cerulean-blue;
        border-color: $st-color-cerulean-blue;
      }
    }
  }

  &:hover {
    .st-checkbox__inner {
      border-color: $st-color-royal-blue;
    }
  }

  &.st-checkbox--disabled {
    &:not(.st-checkbox--checked) .st-checkbox__inner {
      background-color: $st-color-white;
      border-color: $st-color-light-gray;
    }

    &.st-checkbox--checked .st-checkbox__input .st-checkbox__inner {
      background-color: $st-color-light-gray;
      border-color: $st-color-light-gray;
    }

    .st-checkbox__label {
      color: $st-color-black;
    }
  }
}
