// Import default component's file with styles
@import '../../../../components/input/style';

.st-input {
  $root: &;

  height: 42px;
  font-size: 14px;
  line-height: normal;
  background-color: transparent;
  border-color: $st-color-pink-swan;
  border-radius: 2px;

  &--hovered {
    background-color: $st-color-white;
  }

  &__suffix {
    right: 15px;
  }

  &--focused.st-select-content,
  &--focused.st-select-content:hover,
  &--focused {
    border-color: $st-color-primary;

    #{$root}__prefix .st-icon {
      color: $st-color-primary;
    }
  }

  &--small {
    #{$root}__inner {
      height: 32px;
    }
  }

  &--disabled {
    #{$root}__inner {
      background-color: $st-color-alabaster;
      border-color: $st-color-pink-swan;
      opacity: 0.6;
    }
  }
}
