// Import default component's file with styles
@import '../../../../components/radio/style';

.st-radio {
  $root: &;

  &__inner {
    position: relative;
    border-width: 1px;
  }

  &:not(&--disabled):not(&--selected) {
    &:hover {
      #{$root}__inner {
        border-color: $st-color-royal-blue;
        border-width: 1px;
      }
    }
  }

  &--selected {
    #{$root}__inner {
      border-color: $st-color-royal-blue;
      border-width: 1px;

      &::before {
        position: absolute;
        top: 3px;
        left: 3px;
        display: block;
        width: 10px;
        height: 10px;
        content: ' ';
        background-color: $st-color-royal-blue;
        border-radius: 50%;
      }
    }
  }
}
