@import "../../assets/scss/theme";

@import "../../assets/scss/utils/mixins";
@import "../../assets/scss/utils/functions";
@import "../../assets/scss/utils/helper-classes";
@import "../../assets/scss/components/button/button-mixins";
@import "../../assets/scss/components/button/variables";

@include b('button') {
  $root: &;

  display: inline-block;
  line-height: 1;
  height: 40px;
  white-space: nowrap;
  cursor: pointer;
  background: $st-button-default-fill;
  border: $st-border-width $st-border-style $st-color-mantis;
  color: $st-color-mantis;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $st-button-font-weight;
  @include utils-user-select(none);
  & + & {
    margin-left: 10px;
  }

  @include button-size(0, $st-button-padding-horizontal, $st-button-font-size, $st-button-border-radius, $root);

  &:hover,
  &:focus {
    color: $st-color-white;
    border-color: $st-color-primary;
    background-color: $st-color-white;
  }

  &:active {
    color: mix($st-color-black, $st-color-primary, $st-button-active-shade-percent);
    border-color: mix($st-color-black, $st-color-primary, $st-button-active-shade-percent);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="#{ b('icon', true, false) }"] {
    width: 16px;
    height: 16px;
    line-height: 16px;
    & + span {
      margin-left: 5px;
      vertical-align: top;
    }
  }

  @include m('plain') {
    background-color: $st-color-white-smoke;

    &:hover,
    &:focus {
      background-color: $st-color-mantis;
      border-color: $st-color-mantis;
      color: $st-color-white;
    }

    &:active {
      background: $st-color-white;
      border-color: mix($st-color-black, $st-color-primary, $st-button-active-shade-percent);
      color: mix($st-color-black, $st-color-primary, $st-button-active-shade-percent);
      outline: none;
    }
  }

  @include m('default') {
    @include button-variant($st-button-default-color, $st-button-default-fill, $st-button-default-border, $root);
    min-width: 192px;

    &#{ m('plain', $root) } {
      color: $st-color-taupe-gray;
      border-color: $st-color-white-smoke;
    }
    &#{ m('disabled', $root) },
    &#{ m('disabled', $root) }:hover {
      color: mix($st-color-taupe-gray, $st-color-white);
      border-color: mix($st-color-white-smoke, $st-color-white);

      &#{ m('plain', $root) } {
        color: mix($st-color-taupe-gray, $st-color-white);
        background-color: $st-button-default-fill;
        border-color: mix($st-color-white-smoke, $st-color-white);
      }

      #{ b('icon') } {
        color: mix($st-color-taupe-gray, $st-color-white);
      }
    }
    &:hover,
    &#{ m('plain') }:hover {
      color: $st-color-taupe-gray;
      background-color: $st-color-white;
      border-color: $st-color-white-smoke;
    }

    #{ b('icon') } {
      color: $st-color-taupe-gray;
    }
  }

  @include m('primary') {
    min-width: 226px;
    height: 48px;
    @include button-variant($st-button-primary-color, $st-button-primary-fill, $st-button-primary-border, $root);

    &:hover,
    &#{ m('plain', $root) }:hover {
      color: $st-color-mantis;
      background-color: $st-color-white;

      #{ b('icon') } {
        color: $st-color-mantis;
      }
    }

    #{ b('icon') } {
      color: $st-color-white;
    }
  }

  @include m('secondary') {
    min-width: 192px;
    border-radius: $st-button-secondary-border-radius;

    &:focus {
      color: $st-color-white;
      background-color: mix($st-color-mantis, $st-color-white, 80%);

      #{ b('icon') } {
        color: $st-color-white;
      }
    }
    &:hover {
      color: $st-color-white;
      background-color: $st-color-mantis;

      #{ b('icon') } {
        color: $st-color-white;
      }
    }
    &#{ m('plain', $root) } {
      &#{ m('disabled', $root) } {
        background-color: mix($st-color-white-smoke, $st-color-white, 20%);
      }
    }
    &#{ m('disabled', $root) } {
      #{ b('icon') } {
        color: mix($st-color-mantis, $st-color-white, 50%);
      }
    }
    &#{ m('approve', $root) } {
      #{ b('icon') } {
        color: $st-color-mantis;
      }

      &:not(#{ m('disabled', $root) }):hover,
      &:not(#{ m('disabled', $root) }):focus {
        #{ b('icon') } {
          color: $st-color-white;
        }
      }
      &#{ m('disabled', $root) } {
        &,
        &:hover,
        &:focus {
          #{ b('icon') } {
            color: mix($st-color-mantis, $st-color-white);
          }
        }
      }
    }
    &#{ m('cancel', $root) } {
      color: $st-color-taupe-gray;
      border-color: $st-color-pastel-gray;

      &:not(#{ m('disabled', $root) }):focus {
        color: $st-color-white;
        background-color: mix($st-color-pastel-gray, $st-color-white, 80%);

        #{ b('icon') } {
          color: $st-color-white;
        }
      }
      &:not(#{ m('disabled', $root) }):hover {
        color: $st-color-white;
        background-color: $st-color-pastel-gray;
        border-color: $st-color-pastel-gray;

        #{ b('icon') } {
          color: $st-color-white;
        }
      }
      &#{ m('plain', $root) } {
        background-color: mix($st-color-pastel-gray, $st-color-white, 10%);
      }
      &#{ m('disabled', $root) } {
        &,
        &:hover,
        &:focus {
          color: mix($st-color-taupe-gray, $st-color-white);
          border-color: mix($st-color-pastel-gray, $st-color-white);

          #{ b('icon') } {
            color: mix($st-color-taupe-gray, $st-color-white);
          }
        }

        &#{ m('plain', $root) } {
          background-color: mix($st-color-pastel-gray, $st-color-white, 10%);
        }
      }

      #{ b('icon') } {
        color: $st-color-taupe-gray;
      }
    }
    &#{ m('remove', $root) } {
      color: $st-color-sunset-orange;
      border-color: $st-color-sunset-orange;

      #{ b('icon') } {
        color: $st-color-sunset-orange;
      }

      &:not(#{ m('disabled', $root) }):focus {
        color: $st-color-white;
        background-color: mix( $st-color-sunset-orange, $st-color-white, 80%);

        #{ b('icon') } {
          color: $st-color-white;
        }
      }
      &:not(#{ m('disabled', $root) }):hover {
        color: $st-color-white;
        background-color: $st-color-sunset-orange;
        border-color: $st-color-sunset-orange;

        #{ b('icon') } {
          color: $st-color-white;
        }
      }
      &#{ m('plain', $root) } {
        background-color: mix($st-color-sunset-orange, $st-color-white, 10%);
      }
      &#{ m('disabled', $root) } {
        &,
        &:hover,
        &:focus {
          color: mix($st-color-sunset-orange, $st-color-white);
          border-color: mix( $st-color-sunset-orange, $st-color-white);

          #{ b('icon') } {
            color: mix($st-color-sunset-orange, $st-color-white);
          }
        }
        &#{ m('plain', $root) } {
          background-color: mix($st-color-sunset-orange, $st-color-white, 10%);
        }
      }
    }

    #{ b('icon') } {
      color: $st-color-mantis;
    }
  }

  @include m('success') {
    @include button-variant($st-button-success-color, $st-button-success-fill, $st-button-success-border, $root);
  }
  @include m('warning') {
    @include button-variant($st-button-warning-color, $st-button-warning-fill, $st-button-warning-border, $root);
  }
  @include m('danger') {
    @include button-variant($st-button-danger-color, $st-button-danger-fill, $st-button-danger-border, $root);
  }

  @include m('info') {
    @include button-variant($st-button-info-color, $st-button-info-fill, $st-button-info-border, $root);

    &:not(#{ m('disabled', $root) }):focus {
      color: mix($st-color-blueberry, $st-color-white, 80%);
      background-color: $st-color-white;
      border-color: mix($st-color-blueberry, $st-color-white, 40%);

      #{ b('icon') } {
        color: mix($st-color-blueberry, $st-color-white, 80%);
      }
    }
    &:not(#{ m('disabled', $root) }):hover {
      background-color: $st-color-white;
      border-color: $st-color-blueberry;
    }
    &#{ m('disabled', $root) } {
      &,
      &:hover {
        color: mix($st-color-blueberry, $st-color-white, 50%);
        background-color: transparent;
        border-color: transparent;
      }

      #{ b('icon') } {
        color: mix($st-color-blueberry, $st-color-white, 50%);
      }
      &#{ m('plain', $root) },
      &#{ m('plain', $root) }:hover {
        color: mix($st-color-blueberry, $st-color-white, 40%);
        background-color: mix($st-color-blueberry, $st-color-white, 10%);
        border-color: mix($st-color-blueberry, $st-color-white, 30%);
      }
    }
    &:not(#{ m('disabled', $root) })#{ m('plain', $root) } {
      color: $st-color-blueberry;
      background-color: mix($st-color-blueberry, $st-color-white, 20%);
      border-color: mix($st-color-blueberry, $st-color-white, 40%);

      &:hover {
        background-color: $st-color-white;
        border-color: $st-color-blueberry;
      }
    }

    #{ b('icon') } {
      color: $st-button-info-color;
    }
  }
  @include m('extra-large') {
    min-width: 322px;
    height: 48px;
    line-height: 48px;
    @include button-size(0, 27px, 15px, $st-button-large-border-radius, $root);
  }
  @include m('large') {
    min-width: 322px;
    height: 40px;
    line-height: 40px;
    @include button-size(0, $st-button-large-padding-horizontal, $st-button-large-font-size, $st-button-large-border-radius, $root);
  }
  @include m('medium') {
    min-width: 226px;
    @include button-size($st-button-medium-padding-vertical, $st-button-medium-padding-horizontal, $st-button-medium-font-size, $st-button-medium-border-radius, $root);
  }
  @include m('small') {
    min-width: 192px;
    @include button-size($st-button-small-padding-vertical, $st-button-small-padding-horizontal, $st-button-small-font-size, $st-button-small-border-radius, $root);
  }
  @include m('mini') {
    min-width: 166px;
    @include button-size($st-button-mini-padding-vertical, $st-button-mini-padding-horizontal, $st-button-mini-font-size, $st-button-mini-border-radius, $root);
  }
  @include m('text') {
    border-color: transparent;
    color: mix($st-color-taupe-gray, $st-color-white, 50%);
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:not(#{ m('disabled', $root) }):hover,
    &:not(#{ m('disabled', $root) }):focus {
      color: mix($st-color-taupe-gray, $st-color-white, 80%);
      border-color: transparent;
      background-color: transparent;

      #{ b('icon') } {
        color: mix($st-color-taupe-gray, $st-color-white, 80%);
      }
    }
    &:not(#{ m('disabled', $root) }):active {
      color: $st-color-taupe-gray;
      border-color: transparent;
      background-color: transparent;

      #{ b('icon') } {
        color: $st-color-taupe-gray;
      }
    }
    &#{ m('disabled', $root) },
    &#{ m('disabled', $root) }:hover,
    &#{ m('disabled', $root) }:focus {
      color: mix($st-color-taupe-gray, $st-color-white, 40%);
      border-color: transparent;

      #{ b('icon') } {
        color: mix($st-color-taupe-gray, $st-color-white, 40%);
      }
    }
    &:not(#{ m('disabled', $root) })#{ m('search', $root) } {
      &:focus {
        color: mix($st-text-color-regular,$st-color-white, 40%);

        #{ b('icon') } {
          color: mix($st-text-color-regular,$st-color-white, 40%);
        }
      }
      &:hover {
        color: $st-color-blueberry;

        #{ b('icon') } {
          color: $st-color-blueberry;
        }
      }
      &:active {
        color: $st-text-color-regular;

        #{ b('icon') } {
          color: $st-text-color-regular;
        }
      }
    }

    #{ b('icon') } {
      color: mix($st-color-taupe-gray, $st-color-white, 50%);
    }
  }

  @include m('active') {
    color: mix($st-color-black, $st-color-primary, $st-button-active-shade-percent);
    border-color: mix($st-color-black, $st-color-primary, $st-button-active-shade-percent);
  }

  @include m('disabled') {
    &,
    &:hover,
    &:focus {
      color: mix($st-color-white, $st-color-primary, 50%);
      cursor: not-allowed;
      background-image: none;
      background-color: $st-color-white;
      border-color: mix($st-color-white, $st-color-primary, 50%);
    }

    &#{ m('text', $root) } {
      background-color: transparent;
    }
  }

  @include m('loading') {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    min-width: 192px;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }

  @include m('round') {
    border-radius: 20px;
    padding: 12px 23px;

    &#{ m('primary', $root) } {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  @include m('circle') {
    padding: 0;
    text-align: center;
    line-height: 38px;
    width: 40px;
    min-width: auto;
    border-radius: $st-border-radius-circle;
    #{ b('icon') } {
      height: 18px;
      width: 18px;
      font-size: 24px;
      line-height: 0;
    }
  }

  @include m('bold-border') {
    border-width: 2px;
    line-height: 36px;
  }
}
