@import '../../utils/variables';

$st-collapser-justify-content: flex-start !default;

$st-collapser-item-font-size: $st-font-size !default;
$st-collapser-item-color: $st-text-color-regular !default;
$st-collapser-item-margin: 10px !default;

$st-collapser-control-margin: 5px !default;
$st-collapser-control-color: $st-text-color-regular !default;
$st-collapser-control-color-hover: $st-color-secondary !default;
