<div class="st-datepicker-simple-grid">
    <div v-for="(row, rowKey) in groupedItems"
         :key="rowKey"
         class="st-datepicker-simple-grid__row">
        <div v-for="(item) in row"
             :key="item.id"
             class="st-datepicker-simple-grid__item"
             :class="itemClasses(item)"
             @click="onItemClick($event, item)">
            {{ item.label }}
        </div>
        <div v-for="_ in itemsPerRow - row.length"
             class="st-datepicker-simple-grid__item st-datepicker-simple-grid__item--empty"></div>
    </div>
</div>
