@import 'colors';

// Fonts
$st-font: '' !default;
$st-font-size: 14px !default;

// Colors
$st-color-primary: $st-color-mantis !default;
$st-color-secondary: $st-color-blueberry !default;

$st-color-success: $st-color-mantis !default;
$st-color-warning: $st-color-meat-brown !default;
$st-color-danger: $st-color-sunset-orange !default;
$st-color-info: $st-color-blueberry !default;

// Text colors
$st-text-color-primary: $st-color-taupe-gray !default;
$st-text-color-secondary: $st-color-blueberry !default;

$st-text-color-regular: $st-color-dark-gunmetal !default;
$st-text-color-placeholder: $st-color-taupe-gray !default;

// Borders
$st-border-width: 1px !default;
$st-border-style: solid !default;
$st-border-color: $st-color-pastel-gray !default;
$st-border-color-hover: $st-text-color-placeholder !default;
$st-border-radius: 6px !default;
$st-border-radius-circle: 100% !default;
$st-border: $st-border-width $st-border-style $st-border-color !default;

// Backgrounds
$st-background-color: $st-color-white !default;

// Disabled
$st-disabled-fill: $st-background-color !default;
$st-disabled-color: $st-text-color-placeholder !default;
$st-disabled-border-color: mix($st-color-white, $st-border-color, 20%) !default;
$st-disabled-text-color: $st-text-color-primary !default;

// Transition
$st-all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$st-fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$st-fade-linear-transition: opacity 200ms linear !default;
$st-md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$st-border-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$st-color-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$st-fill-transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

// Scrollbar
$st-scrollbar-thumb-background: $st-color-near-chambray;
$st-scrollbar-track-background: $st-color-white;
