$st-color-white: #fff !default;
$st-color-black: #000 !default;
$st-color-blueberry: #7f95e1 !default;
$st-color-mantis: #5dc376 !default;
$st-color-sunset-orange: #ec5657 !default;
$st-color-meat-brown: #ebb242 !default;
$st-color-near-chambray: #b4bccc !default;
$st-color-alabaster: #fafafa !default;
$st-color-white-smoke: #f4f5f9 !default;
$st-color-pastel-gray: #ccc !default;
$st-color-edward: #a4a5a5 !default;
$st-color-taupe-gray: #909090 !default;
$st-color-gray-light: #dbdbdb !default;
$st-color-dark-grey: #50586d !default;
$st-color-davys-grey: #3f4557 !default;
$st-color-dark-gunmetal: #1e1e28 !default;
$st-color-solitude-white: #e5e6ec !default;
