@import '../../assets/scss/utils/mixins';
@import '../../assets/scss/components/notification/_variables';

@include b('notifications-group') {
  $root: &;

  position: absolute;
  z-index: $st-notification-z-index;
  display: flex;
  width: $st-notification-width;
  overflow: hidden;
  pointer-events: none;

  #{ b('notification') } {
    transition: $st-notification-transition;
  }

  &#{ m('top-left', $root) },
  &#{ m('top-center', $root) },
  &#{ m('top-right', $root) } {
    top: $st-notification-margin-window;
    bottom: $st-notification-margin-window;
    flex-flow: column-reverse;

    #{ b('notification') } {
      margin-top: $st-notification-margin-item;

      &:last-of-type {
        margin-top: 0;
      }
    }
  }

  &#{ m('bottom-left', $root) },
  &#{ m('bottom-center', $root) },
  &#{ m('bottom-right', $root) } {
    bottom: $st-notification-margin-window;
    flex-flow: column;

    #{ b('notification') } {
      margin-bottom: $st-notification-margin-item;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &#{ m('top-left', $root) },
  &#{ m('bottom-left', $root) } {
    left: $st-notification-margin-window;
  }

  &#{ m('top-right', $root) },
  &#{ m('bottom-right', $root) } {
    right: $st-notification-margin-window;
  }

  &#{ m('top-center', $root) },
  &#{ m('bottom-center', $root) } {
    right: 0;
    left: 0;
    margin: auto;
  }
}
