@import '../../utils/variables';

$st-popper-border-width: 1px !default;
$st-popper-border-color: $st-color-pastel-gray !default;
$st-popper-border-style: solid !default;
$st-popper-background-color: $st-color-alabaster !default;
$st-popper-arrow-size: 8px !default;
$st-popper-padding: 16px !default;
$st-popper-border-radius: 6px !default;
$st-popper-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08) !default;
$st-popper-offset: 8px !default;
$st-popper-with-arrow-offset: $st-popper-arrow-size + 3px !default;
$st-popper-z-index: 9999 !default;
