// Define new variables for your theme
$st-color-turquoise: #40e0d0 !default;
$st-color-orangered: #ff4500 !default;

// Or, redefine default theme's variables
$st-color-primary: $st-color-orangered !default;
$st-color-secondary: $st-color-turquoise !default;
$st-border-width: 2px !default;

@import '../../utils/variables';
