@import '../../../assets/scss/components/tabs/_variables';

.st-tabs-collapser {
  &__popper-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__control {
    border-bottom: $st-tabs-tab-border-width solid transparent;
  }

  &__popper {
    padding: $st-tabs-collapser-popper-padding;
  }
}
