<st-collapser class="st-tabs-collapser"
              list-class="st-tabs-collapser__list"
              hidden-list-class="st-tabs-collapser__popper-list"
              control-class="st-tabs-collapser__control"
              popper-class="st-tabs-collapser__popper"
              :elements="tabs"
              :popper-props="popperProps">
  <template v-slot:list="{ elements }">
    <st-tab v-for="tab in elements"
            :key="tab.id"
            class="st-tabs-collapser__tab"
            :class="{
               'st-tabs-collapser__tab--selected': tab.id === selectedId,
               'st-tabs-collapser__tab--disabled': tab.disabled,
            }"
            :icon="tab.icon"
            :label="tab.label"
            :closeable="tab.closeable"
            :disabled="tab.disabled"
            @close="$emit('close', tab)"
            @click.native="tab ? void 0 : $emit('select', tab)">
      <slot name="tab" v-bind:tab="tab"></slot>
    </st-tab>
  </template>
  <template v-slot:hidden-list="{ hiddenElements }">
    <st-tab v-for="tab in hiddenElements"
            :key="tab.id"
            class="st-tabs-collapser__popper-tab"
            :class="{
              'st-tabs-collapser__popper-tab--selected': tab.id === selectedId,
              'st-tabs-collapser__popper-tab--disabled': item.disabled,
            }"
            :icon="tab.icon"
            :label="tab.label"
            :closeable="tab.closeable"
            :disabled="tab.disabled"
            @close="$emit('close', tab)"
            @click.native="tab ? void 0 : $emit('select', tab)">
      <slot name="hidden-tab" v-bind:tab="tab"></slot>
    </st-tab>
  </template>
</st-collapser>
