<st-collapser class="st-tabs-collapser"
              list-class="st-tabs-collapser__list"
              :hidden-list-class="hiddenListClass || 'st-tabs-collapser__popper-list'"
              control-class="st-tabs-collapser__control"
              popper-class="st-tabs-collapser__popper"
              :elements="tabs"
              :popper-props="popperProps">
  <template #list="{ elements }">
    <slot name="list" :list-tabs="elements" />
  </template>

  <template #control="props">
    <slot name="control" v-bind="props" />
  </template>

  <template #hidden-list="{ hiddenElements }">
    <slot name="hidden-list" :popper-tabs="hiddenElements" />
  </template>
</st-collapser>
