<button class="st-button"
        @click="handleClick"
        :disabled="disabled"
        :autofocus="autofocus"
        :type="nativeType"
        :class="buttonClass">

  <st-icon v-if="loading"
           name="loader"
           class="st-button__icon"
           @click="handleInnerClick"></st-icon>
  <st-icon v-if="icon && !loading"
           :name="icon"
           class="st-button__icon"
           @click="handleInnerClick"></st-icon>
  <span @click="handleInnerClick">
    {{ dynamicType }}
  </span>
</button>