@import '../../utils/variables';

$st-switch-core-circle-height: 16px !default;
$st-switch-core-circle-width: 16px !default;
$st-switch-core-circle-spacing: 2px !default;
$st-switch-active-color: #409eff !default;
$st-switch-inactive-color: #dcdfe6 !default;
$st-switch-core-transition: all 0.3s !default;
$st-switch-core-circle-color: #fff !default;

$st-switch-labels-margin: 10px !default;
$st-switch-labels-size: 14px !default;
