<div class="st-select">
  <component :is="componentName"
             ref="select-component"
             :value="value"
             :options="options"
             :placeholder="placeholder"
             :disabled="disabled"
             :readonly="readonly"
             :required="required"
             :clearable="clearable"
             :loading="loading"
             :size="size"
             :prefix-icon="prefixIcon"
             :suffix-icon="suffixIcon"
             :show-arrow-icon="showArrowIcon"
             :clear-icon-as-arrow-icon="clearIconAsArrowIcon"
             :dropdown-props="dropdownProps"
             :collapser-popper-props="collapserPopperProps"
             @input="$event => $emit('input', $event)"
             @select="$event => $emit('select', $event)"
             @clear="$emit('clear')"
             @dropdown-show="$emit('dropdown-show')"
             @dropdown-hide="$emit('dropdown-hide')">
    <template v-slot:content-prefix>
      <slot name="prefix" />
    </template>
    <template v-slot:content-suffix>
      <slot name="suffix" />
    </template>
    <template v-slot:dropdown-top>
      <slot name="dropdown-top" />
    </template>
    <template v-slot:dropdown-bottom>
      <slot name="dropdown-bottom" />
    </template>
    <template v-slot:dropdown-list="{ options }">
      <slot name="list"
            :options="options" />
    </template>
    <template v-slot:dropdown-option="{ option }">
      <slot name="option"
            :option="option" />
    </template>

    <template v-slot:collapser-control="{ amount }">
      <slot name="collapser-control"
            :amount="amount" />
    </template>
    <template v-slot:collapser-list="{ elements }">
      <slot name="collapser-list"
            :elements="elements" />
    </template>
    <template v-slot:collapser-element="{ element }">
      <slot name="collapser-element"
            :element="element" />
    </template>
    <template v-slot:collapser-hidden-list="{ hiddenElements }">
      <slot name="collapser-hidden-list"
            :hidden-elements="hiddenElements" />
    </template>
    <template v-slot:collapser-hidden-element="{ hiddenElement }">
      <slot name="collapser-hidden-element"
            :hidden-element="hiddenElement" />
    </template>
  </component>
</div>
