@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap&subset=cyrillic');

body, html {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 10px;
  margin: 0;
}

input, textarea, select, button, meter, progress {
  font: inherit;
}

code {
  display: block;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
  background: #f4f5f9;
}

@import "badge";
@import "button";
@import "icon";
@import "customization";
@import "radio";
@import "scrollbar";
@import "tabs";

// TODO: Продумать возможность переключения тем
@import "theme-import.temp";
