@import '../../assets/scss/components/icon/variables';

.st-icon {
  $root: &;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: $st-icon-width;
  height: $st-icon-height;
  line-height: 1;
  color: $st-icon-color;
  vertical-align: middle;

  &__svg {
    width: inherit;
    max-width: 100%;
    height: inherit;
    max-height: 100%;
  }

  &--loader {
    #{$root}__svg {
      animation: $st-icon-animation;
    }
  }
}
