@import "../../assets/scss/utils/mixins";
@import "../../assets/scss/components/icon/variables";

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@include b('icon') {
  display: inline-block;
  vertical-align: middle;
  color: $st-icon-color;
  width: $st-icon-width;
  height: $st-icon-height;
  line-height: 1;
  svg {
    width: inherit;
    height: inherit;
    max-width: 100%;
    max-height: 100%;
  }

  @include m('loader') {
    svg {
      animation: rotating 2s linear infinite;
    }
  }
}
