<st-input class="st-select-content"
          :prefix-icon="prefixIcon"
          :placeholder="placeholder"
          :value="value"
          :disabled="disabled"
          :readonly="readonly"
          :loading="loading"
          :focus-state="isFocused"
          :focus-after-clear="false"
          @keydown.enter="$emit('open-popper')"
          @keydown.up="$emit('open-popper')"
          @keydown.down="$emit('open-popper')"
          @keydown.esc="$emit('close-popper')"
          @clear="$emit('clear')">
  <template v-if="$slots.prefix">
    <slot name="prefix" />
  </template>
  <template>
    <span v-if="!value"
          class="st-select-content__placeholder">{{ placeholder }}</span>
    <slot v-else>
      <span class="st-select-content__value">{{ value }}</span>
    </slot>
  </template>
  <template v-slot:suffix>
    <st-icon v-if="isSuffixIconVisible"
             :name="suffixIcon"
             class="st-select-content__icon"
             :class="suffixIconClassName" />
    <slot name="suffix" />
  </template>
</st-input>
