@import "config";

@function b($name, $namespaced: true, $with-dot: true) {
  $dot: '';

  @if ($with-dot) {
    $dot: '.';
  }

  @if ($namespaced) {
    @return $dot + $PREFIX + '-' + $name;
  }

  @return $dot + $name;
}

@function e($name, $scope: null, $parent: null) {
  @if $scope == null {
    $scope: &;
  }

  @if $parent == null {
    $parent: '';
  }

  @return $parent + ' ' + $scope + $ELEMENT_SEPARATOR + $name;
}

@function m($name, $scope: null, $parent: null, $space: True) {
  @if $scope == null {
    $scope: &;
  }

  @if $parent == null {
    $parent: '';
  }

  $spaceDel: '';

  @if $space {
    $spaceDel: '';
  }

  @return $parent + $spaceDel + $scope + $MODIFIER_SEPARATOR + $name;
}

@function class-name-without-modifier($class-name) {
  /* $str-index: str_index($class-name, $MODIFIER_SEPARATOR);
  @return str_slice($class-name, 1, ($str-index - 1)); */
  @return $class-name;
}
