@import "functions";
@import "variables/breakpoints";
@import "variables/colors";

@mixin b($name, $namespaced: true, $with-dot: true) {
  @at-root {
    #{ b($name, $namespaced, $with-dot) } {
      @content;
    }
  }
}

@mixin e($name, $scope: null, $at-root: true) {
  @if ($at-root) {
    @at-root {
      #{ e($name, $scope) } {
        @content;
      }
    }
  }

  @else {
    #{ e($name, $scope) } {
      @content;
    }
  }
}

@mixin m($name, $scope: null, $at-root: true) {
  @if ($at-root) {
    @at-root {
      #{ m($name, $scope) } {
        @content;
      }
    }
  }

  @else {
    #{ m($name, $scope) } {
      @content;
    }
  }
}

@mixin state($mod, $root: null, $at-root: false) {
  @if ($root == null) {
    $root: &;
  }

  @if ($at-root) {
    #{ m($mod, $root) } {
      @content;
    }
  }

  @else {
    @at-root {
      #{ m($mod, $root) } {
        @content;
      }
    }
  }
}

@mixin notState($mod, $root: null, $at-root: false) {
  @if ($root == null) {
    $root: &;
  }

  @if ($at-root) {
    #{$root}:not(#{ m($mod, $root) }) {
      @content;
    }
  }

  @else {
    @at-root {
      #{$root}:not(#{ m($mod, $root) }) {
        @content;
      }
    }
  }
}

@mixin notDblState($mod, $mod2, $root: null, $at-root: false) {
  @if ($root == null) {
    $root: &;
  }

  @if ($at-root) {
    #{$root}:not(#{ m($mod, $root) }):not(#{ m($mod2, $root) }) {
      @content;
    }
  }

  @else {
    @at-root {
      #{$root}:not(#{ m($mod, $root) }):not(#{ m($mod2, $root) }) {
        @content;
      }
    }
  }
}

@mixin dblState($mod, $mod2, $root: null, $at-root: false) {
  @if ($root == null) {
    $root: &;
  }

  @if ($at-root) {
    #{ m($mod, $root, &, false) }#{ m($mod2, $root, &, false) } {
      @content;
    }
  }

  @else {
    @at-root {
      #{ m($mod, $root, &, false) }#{ m($mod2, $root, &, false) } {
        @content;
      }
    }
  }
}

@mixin when($state) {
  @at-root {
    &.#{$STATE_PREFIX + $state} {
      @content;
    }
  }
}

@mixin res($key, $map: $st-breakpoints) {
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  }

  @else {
    @warn "Undefeined points: `#{$map}`";
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    z-index: 11;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background: $st-scrollbar-thumb-background;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background: $st-scrollbar-track-background;
  }

  &::-webkit-scrollbar-track {
    background: $st-scrollbar-track-background;
  }

  &::-webkit-scrollbar-track-piece {
    width: 6px;
    background: $st-scrollbar-track-background;
  }

  &::-webkit-scrollbar:horizontal {
    height: 6px;
  }
}
