@import '../../utils/variables';

$st-circular-countdown-unit-font-size: 10px !default;
$st-circular-countdown-unit-line-height: 8px !default;

$st-circular-countdown-time-margin-top: -1px !default;
$st-circular-countdown-time-font-size: 15px !default;
$st-circular-countdown-time-line-height: 11px !default;

$st-circular-countdown-color-info: $st-color-blueberry !default;
$st-circular-countdown-color-danger: $st-color-sunset-orange !default;
$st-circular-countdown-color-warning: $st-color-meat-brown !default;
$st-circular-countdown-color-success: $st-color-mantis !default;
