@import '../../assets/scss/utils/mixins';
@import '../../assets/scss/components/datepicker/_variables';
@import "./datepicker-month-grid/style";
@import "./datepicker-top-navigation/style";

@include b('datepicker') {
  $root: &;

  position: relative;
  display: inline-flex;

  #{ b('datepicker-month-grid') } + #{ b('datepicker-month-grid') } {
    margin-left: 15px;
  }
}
