@import '../../utils/variables';

// Dropdown
$st-autocomplete-dropdown-min-width: 250px !default;

// Message
$st-autocomplete-message-padding: 10px !default;
$st-autocomplete-message-font-size: $st-font-size !default;
$st-autocomplete-message-text-align: center !default;
