<label :for="id"
       class="st-checkbox"
       :class="checkboxMods"
       :aria-checked="!!value"
       :aria-disabled="disabled"
       role="checkbox"
       @mouseenter="hovered = true"
       @mouseleave="hovered = false">
    <div class="st-checkbox__input">
        <input class="st-checkbox__original-input"
               type="checkbox"
               :value="value"
               :id="id"
               :indeterminate="indeterminate"
               :disabled="disabled || readonly"
               @input="toggleCheckbox"
               @focusin="focused = true"
               @focusout="focused = false">
        <div class="st-checkbox__inner"></div>
    </div>
    <span class="st-checkbox__label"
          v-if="$slots.default || label">
      <slot></slot>
      <template v-if="!$slots.default">{{ label }}</template>
    </span>
</label>
