<label for="checkbox"
       class="st-checkbox"
       :class="checkboxMods"
       :aria-checked="!!this.value"
       :aria-disabled="disabled"
       role="checkbox">
    <div class="st-checkbox__input">
        <div class="st-checkbox__inner"></div>
        <input id="checkbox"
               class="st-checkbox__original-input"
               type="checkbox"
               value="model"
               :indeterminate="indeterminate"
               :disabled="disabled || readonly"
               @input="toggleCheckbox">
    </div>
    <span class="st-checkbox__label"
          v-if="$slots.default || label">
      <slot></slot>
      <template v-if="!$slots.default">{{ label }}</template>
    </span>
</label>
