@import '../../utils/variables';
@import '../input/variables';

$st-select-height: $st-input-height !default;
$st-select-font-size: $st-input-font-size !default;
$st-select-color: $st-input-color !default;

// Content block
$st-select-border: $st-input-border !default;
$st-select-border-radius: $st-input-border-radius !default;

$st-select-placeholder-color: $st-input-placeholder-color !default;

$st-select-inner-input-z-index: 1 !default;
$st-select-above-input-elements-z-index: $st-select-inner-input-z-index + 1 !default;

$st-select-arrow-icon-size: 12px !default;
$st-select-arrow-icon-width: $st-select-arrow-icon-size !default;
$st-select-arrow-icon-height: $st-select-arrow-icon-size !default;
$st-select-arrow-icon-font-size: $st-select-arrow-icon-size !default;

// Dropdown block
$st-select-dropdown-readonly-option-cursor: default !default;
$st-select-dropdown-disabled-option-cursor: default !default;

// Single Select block
$st-select-single-dropdown-selected-option-font-weight: 600 !default;
$st-select-single-dropdown-option-icon-size: 12px !default;
$st-select-single-dropdown-option-icon-width: $st-select-single-dropdown-option-icon-size !default;
$st-select-single-dropdown-option-icon-height: $st-select-single-dropdown-option-icon-size !default;
$st-select-single-dropdown-option-icon-font-size: $st-select-single-dropdown-option-icon-size !default;

// Multiple Select block
$st-select-multiple-disabled-collapser-item-color: $st-disabled-color !default;
$st-select-multiple-readonly-collapser-item-color: $st-disabled-color !default;
$st-select-multiple-collapser-item-margin: 3px !default;
$st-select-multiple-collapser-dropdown-background: $st-color-white !default;
$st-select-multiple-collapser-dropdown-padding: 20px !default;
$st-select-multiple-collapser-dropdown-font-size: 12px !default;
$st-select-multiple-collapser-dropdown-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24) !default;
