<div class="st-collapser">
  <div :class="['st-collapser__list', listClass]"
       ref="list">
    <div :class="[
           'st-collapser__item',
            elementClass(item, index),
         ]"
         v-for="(item, index) in elements"
         :key="index"
         @click="$emit('element-click', item)">
      <slot name="element"
            v-bind:element="item">
        {{ item }}
      </slot>
    </div>
  </div>
  <div class="st-collapser__control"
       ref="control">
    <st-popper class="st-collapser__popper"
               ref="popper"
               v-bind="extendedPopperProps"
               @show="popperVisible = true"
               @hide="popperVisible = false">
      <div slot="reference"
           :class="[
             'st-collapser__control-label',
             {
               'st-collapser__control-label--with-hover': !extendedPopperProps.disabled,
               'st-collapser__control-label--hovered': popperVisible,
             }
           ]"
           v-show="hiddenElements.length">
        <slot name="control"
              v-bind:amount="hiddenElements.length">
          +{{ hiddenElements.length }}
        </slot>
      </div>
      <div :class="['st-collapser__hidden-list', hiddenListClass]">
        <div :class="[
               'st-collapser__hidden-item',
                hiddenElementClass(item, index),
             ]"
             v-for="(item, index) in hiddenElements"
             :key="index"
             @click="$emit('hidden-element-click', item)">
          <slot name="hiddenElement"
                v-bind:element="item">
            {{ item }}
          </slot>
        </div>
      </div>
    </st-popper>
  </div>
</div>
