<st-select-dropdown class="st-select-single"
                    :class="[
                      this.size ? `st-select-single--${this.size}` : '',
                      {
                         'st-select-single--disabled': disabled,
                         'st-select-single--readonly': readonly,
                         'st-select-single--with-error': !isValid,
                      }
                    ]"
                    ref="dropdown"
                    :options="updatedOptions"
                    :disabled="disabled"
                    :readonly="readonly"
                    :selected-values="[value]"
                    :close-on-select="closeOnSelect"
                    :option-class="optionClass"
                    option-additional-class="st-select-single__dropdown-option"
                    :dropdown-props="dropdownProps"
                    @select="select"
                    @dropdown-show="dropdownVisible = true; $emit('dropdown-show')"
                    @dropdown-hide="dropdownVisible = false; $emit('dropdown-hide')">
  <template v-slot:dropdown-top>
    <slot name="dropdown-top" />
  </template>
  <template v-slot:dropdown-bottom>
    <slot name="dropdown-bottom" />
  </template>
  <st-select-content slot="reference"
                     :value="selectedLabel"
                     :is-active="dropdownVisible"
                     :prefix-icon="prefixIcon"
                     :suffix-icon="suffixIcon"
                     :show-arrow-icon="showArrowIcon"
                     :clear-icon-as-arrow-icon="clearIconAsArrowIcon"
                     :placeholder="placeholder"
                     :loading="loading"
                     :disabled="disabled"
                     :readonly="readonly"
                     :required="required"
                     :clearable="clearable"
                     :size="size"
                     @clear="clear"
                     @open-popper="openDropdown"
                     @close-popper="closeDropdown">
    <template v-slot:prefix>
      <slot name="content-prefix" />
    </template>
    <template v-slot:suffix>
      <slot name="content-suffix" />
    </template>
  </st-select-content>
  <template v-slot:default="{ options }">
    <slot name="dropdown-list"
          :options="options"></slot>
  </template>
  <template v-slot:option="{ option }">
    <slot name="dropdown-option"
          :option="option">
      {{ option.label }}
      <st-icon v-if="option.value === value"
               class="st-select-single__dropdown-option-icon"
               name="check" />
    </slot>
  </template>
</st-select-dropdown>
