@import '../../../assets/scss/components/tabs/_variables';

.st-tabs-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &__tab {
    $tabRoot: &;

    white-space: nowrap;
    border-bottom: $st-tabs-tab-border-width $st-tabs-tab-border-style $st-tabs-tab-border-color;

    &--selected {
      color: $st-tabs-tab-selected-text-color;
      border-bottom-color: $st-tabs-tab-selected-border-color;
      border-bottom-width: $st-tabs-tab-selected-border-width;
    }

    &:not(#{$tabRoot}--selected):hover {
      color: $st-tabs-tab-hovered-text-color;
      border-bottom-color: $st-tabs-tab-hovered-border-color;
      border-bottom-width: $st-tabs-tab-hovered-border-width;
    }
  }
}
