<div class="st-tabs-list">
  <st-tab v-for="item in tabs"
          :key="item.id"
          class="st-tabs-list__tab"
          :class="{
            'st-tabs-list__tab--selected': item.id === selectedId,
            'st-tabs-list__tab--disabled': item.disabled,
          }"
          :icon="item.icon"
          :label="item.label"
          :closeable="item.closeable"
          :disabled="item.disabled"
          @close="$emit('close', item)"
          @click.native="item.disabled ? void 0 : $emit('select', item)">
    <slot name="tab" v-bind:tab="item"></slot>
  </st-tab>
</div>
