@import "../../assets/scss/utils/mixins";
@import "../../assets/scss/utils/helper-classes";
@import "../../assets/scss/components/button/variables";

@include b('button-group') {
  @include utils-clearfix;

  display: inline-block;
  vertical-align: middle;

  #{ b('button') } {
    position: relative;
    float: left;
    min-width: 150px;

    + #{ b(button) } {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      background-color: mix($st-color-primary, $st-color-black, 80%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:focus {
        background-color: mix($st-color-primary, $st-color-black, 90%);
      }

      &:hover {
        background-color: $st-color-white;
      }
    }

    &:first-child:last-child {
      border-top-left-radius: $st-button-border-radius;
      border-top-right-radius: $st-button-border-radius;
      border-bottom-right-radius: $st-button-border-radius;
      border-bottom-left-radius: $st-button-border-radius;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include m('active') {
      z-index: 1;
    }
  }

  @each $type in ('primary', 'success', 'warning', 'danger', 'info') {
    #{ m($type, b('button')) } {
      &:first-child {
        border-right-color: rgba($st-color-white, 0.5);
      }

      &:last-child {
        border-left-color: rgba($st-color-white, 0.5);
      }

      &:not(:first-child):not(:last-child) {
        border-right-color: rgba($st-color-white, 0.5);
        border-left-color: rgba($st-color-white, 0.5);
      }
    }
  }
}
