@import '../../utils/variables';

$st-tooltip-z-index: 10000 !default;
$st-tooltip-arrow-size: 8px !default;
$st-tooltip-inner-color: $st-color-white !default;
$st-tooltip-inner-bgColor: $st-color-black !default;
$st-tooltip-inner-radius: 16px;
$st-tooltip-transition-hidden: opacity 0.15s, visibility 0.15s;
$st-tooltip-transition-visible: opacity 0.15s;

$st-popover-z-index: 10000 !default;
$st-popover-inner-color: $st-color-black !default;
$st-popover-inner-bgColor: $st-color-white !default;
$st-popover-inner-padding: 12px !default;
$st-popover-inner-radius: 5px !default;
$st-popover-inner-shadow: 0 5px 20px rgba($st-color-black, 0.15) !default;
